{% extends "site_base.html" %}
{% block javascripts%}
<script type="text/javascript">
//    $(document).ready(function () {
//        $('#id_photo').click(function () {
//            $('#photo_form').submit();
//        });
//        jQuery('li > a[href="#lA"]').click(function(){
////            jQuery('input').tooltip('show');
////            alert('hi');
//        });
//    });

//    jQuery(function () {
////        jQuery("#id_current_password").validate({
////            expression: "if (VAL) return true; else return false;",
////            message: "Please enter the current password",
////            position: "right"
////        });
////        jQuery("#id_new_password").validate({
////            expression:"if (VAL) return true; else return false;",
////            message:"Please enter the new password",
////            position:"right"
////        });
//
//        jQuery("#id_confirm_password").validate({
//            expression:"if ((VAL == jQuery('#id_new_password').val()) && VAL) return true; else return false;",
//            message:"Confirm password field doesn't match the password field",
//            position:"right"
//        });
//        jQuery("#id_phone_number").validate({
//            expression: "if (VAL.match(/^[0-9]{10}$/)) return true; else return false;",
//            message: "Should be a valid cell Number",
//            position:"right"
//        });
//        jQuery("#id_zip_code").validate({
//            expression: "if (VAL.match(/^([0-9]){5}((![ ]|[-])?([0-9]){4})?$/)) return true; else return false;",
//            message: "Should be a valid zip",
//            position:"right"
//        });
//
//    });

</script>
<!--<script type="text/javascript">-->
<!--{% if password_open %}-->
<!--$(document).ready(function () {-->
    <!--$('#lA').removeClass('active');-->
    <!--$('#lC').addClass('active');-->
<!--});-->
<!--{% endif %}-->
<!--</script>-->
{%endblock%}
{% block content%}
<!--<div class="span7 offset2">-->
<!--<legend>Profile Edit</legend>-->
<!--<div class="tabbable tabs-left">-->
<!--<ul class="nav nav-tabs">-->
    <!--<li class="active"><a href="#lA" data-toggle="tab" id="profile_link">Profile</a></li>-->
    <!--<li class=""><a href="#lB" data-toggle="tab">Contact Info</a></li>-->
    <!--<li class=""><a href="#lC" data-toggle="tab">Security</a></li>-->
<!--</ul>-->

<!--<div class="tab-content">-->

<!--<div class="tab-pane active" id="lA">-->
    <!--<div class="control-group">-->
        <!--<div class="offset2" style="margin-bottom: 10px;">-->
            <!--{% if profile_photo %}-->
            <!--<img src="{{profile_photo.url}}" width="150px" height="200px"/>-->
            <!--{% else %}-->
            <!--<img src="{{STATIC_URL}}images/default_user_photo.png"/>-->
            <!--{% endif %}-->
        <!--</div>-->
        <!--<form action="{%url upload_profile_photo%}" method="post" enctype="multipart/form-data" id="photo_form" class="form-horizontal">-->
            <!--{% csrf_token %}-->
            <!--<div class="control-group">-->
                <!--<label class="control-label">-->
                    <!--{% if profile_photo %}-->
                    <!--Change Photo:-->
                    <!--{% else %}-->
                    <!--Add Photo:-->
                    <!--{% endif %}-->
                <!--</label><div class="controls">-->
                <!--{{photo_form.photo}}-->
                <!--<button class="btn" type="submit">Upload</button></div>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
    <!--<form class="form-horizontal" id="profile_form" method="POST" action=".">{% csrf_token %}-->

        <!--<div class="control-group">-->
            <!--<label class="control-label" for="first_name">First Name</label>-->

            <!--<div class="controls">-->
                <!--<input type="text" id="cell_phone">-->
                <!--{{form.first_name}}-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="control-group">-->
            <!--<label class="control-label" for="last_name">Last Name</label>-->

            <!--<div class="controls">-->
                <!--<input type="text" id="cell_phone">-->
                <!--{{form.last_name}}-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="control-group">-->
            <!--<label class="control-label" for="user_name">Brief Description</label>-->

            <!--<div class="controls">-->
                <!--<input type="text" id="user_name">-->
                <!--{{form.about_me}}-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="control-group">-->
            <!--<label class="control-label">Gender</label>-->

            <!--<div class="controls">-->
                <!--{{form.gender}}-->
                <!--<label class="radio">-->
                <!--<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"
                -->
                <!--checked>-->
                <!--Male-->

                <!--</label>-->
                <!--<label class="radio">-->
                <!--<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                -->
                <!--Female-->
                <!--</label>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="control-group">-->
            <!--<label class="control-label">Degree Persuing</label>-->

            <!--<div class="controls">-->
                <!--{{form.degree_pursuing}}-->
            <!--</div>-->
            <!--<div class="controls">-->
            <!--<select>-->
            <!--<option>Degree</option>-->
            <!--<option>2</option>-->
            <!--<option>3</option>-->
            <!--<option>4</option>-->
            <!--<option>5</option>-->
            <!--</select>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="control-group">-->
            <!--<label class="control-label">Year of Class</label>-->

            <!--<div class="controls">-->
                <!--{{form.year_of_class}}-->
            <!--</div>-->
            <!--<div class="controls">-->
            <!--<select>-->
            <!--<option>Year</option>-->
            <!--<option>2</option>-->
            <!--<option>3</option>-->
            <!--<option>4</option>-->
            <!--<option>5</option>-->
            <!--</select>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="control-group">-->
            <!--<label class="control-label">University</label>-->
            <!--<div class="controls">-->
                <!--{{form.university}}-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="control-group">-->
        <!--<div class="controls">-->
        <!--<button type="submit" class="btn btn-primary">Submit</button>-->
        <!--<button type="submit" class="btn btn-inverse">Cancel</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--</form>-->
<!--</div>-->
<!--<div class="tab-pane" id="lB">-->
    <!--<form class="form-horizontal">-->
    <!--<div class="control-group">-->
        <!--<label class="control-label" for="cell_phone">Cell Phone#</label>-->

        <!--<div class="controls">-->
            <!--<input type="text" id="cell_phone">-->
            <!--{{form.phone_number}}-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="control-group">-->
        <!--<label class="control-label" for="address">Address</label>-->

        <!--<div class="controls">-->
            <!--<textarea rows="3" id="address"></textarea>-->
            <!--{{form.address}}-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="control-group">-->
        <!--<label class="control-label" for="zip">Zip</label>-->

        <!--<div class="controls">-->
            <!--<input type="text" id="zip">-->
            <!--{{form.zip_code}}-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="control-group">-->
        <!--<label class="control-label" for="confirmPassword">Paypal URL</label>-->

        <!--<div class="controls">-->
            <!--<input type="password" id="confirmPassword">-->
            <!--{{form.paypal_url}}-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="control-group">-->
        <!--<label class="control-label" for="zip">Visibility</label>-->

        <!--<div class="controls">-->
            <!--{{form.visibility}}-->

            <!--<label class="checkbox">-->
            <!--<input type="checkbox" value="">Everyone-->
            <!--</label>-->
            <!--<label class="checkbox">-->
            <!--<input type="checkbox" value="">Same city-->
            <!--</label>-->
            <!--<label class="checkbox">-->
            <!--<input type="checkbox" value="">Same School-->
            <!--</label>-->
            <!--<label class="checkbox">-->
            <!--<input type="checkbox" value="">People made a deal with me-->
            <!--</label>-->
            <!--<label class="checkbox">-->
            <!--<input type="checkbox" value="">Nobody-->
            <!--</label>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="control-group">-->
    <!--<div class="controls">-->
    <!--<button type="submit" class="btn btn-primary">Submit</button>-->
    <!--<button type="submit" class="btn btn-inverse">Cancel</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</form>-->
<!--</div>-->
<!--<div class="tab-pane" id="lC">-->
    <!--<form class="form-horizontal">-->
    <!--<div class="control-group">-->
        <!--<label class="control-label" for="currentPassword">Current Password</label>-->

        <!--<div class="controls">-->
            <!--<input type="password" id="currentPassword">-->
            <!--{{form.current_password}}-->

        <!--</div>-->
    <!--</div>-->
    <!--<div class="control-group">-->
        <!--<label class="control-label" for="newPassword">New Password</label>-->

        <!--<div class="controls">-->
            <!--<input type="password" id="newPassword">-->
            <!--{{form.new_password}}-->

        <!--</div>-->
    <!--</div>-->
    <!--<div class="control-group">-->
        <!--<label class="control-label" for="confirmPassword">Confirm Password</label>-->

        <!--<div class="controls">-->
            <!--<input type="password" id="confirmPassword">-->
            <!--{{form.confirm_password}}-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->
<!--<div class="control-group">-->
    <!--<div class="controls">-->
        <!--<button type="submit" class="btn btn-primary" id="pass_submit">Submit</button>-->
        <!--<a href='{% url home%}' class="btn btn-warning">Cancel</a>-->
        <!--<button type="submit" class="btn btn-inverse">Cancel</button>-->
    <!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->

<!--</div>-->

<!--</div>-->

<div class="bannerbg">
    <div class="container">
        <h2 class="innerhead"></h2>

        <div class="innerbanner">
            <!--<img src="{{STATIC_URL}}images/banner.jpg"/>-->
        </div>
    </div>
</div>
<div class="innerbody">
<div class="container">
<div class="twocolums">
<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#lA" data-toggle="tab">Profile</a></li>
        <li class=""><a href="#lB" data-toggle="tab">Contact Info</a></li>
        <li class=""><a href="#lC" data-toggle="tab">Security</a></li>
        <li style="float:left; width:100%; text-align:center; margin-top:20px;">
            <!--<img src="{{STATIC_URL}}images/rightbanner.jpg"/>-->
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="lA">
            <div class="control-group">
                <div class="offset2" style="margin-bottom: 10px;">
                    {% if profile_photo %}
                    <img src="{{profile_photo.url}}" width="150px" height="200px"/>
                    {% else %}
                    <img src="{{STATIC_URL}}images/default_user_photo.png"/>
                    {% endif %}
                </div>
                <form action="{%url upload_profile_photo%}" method="post" enctype="multipart/form-data" id="photo_form" class="form-horizontal">
                    {% csrf_token %}
                    <div class="control-group">
                        <label class="control-label">
                            {% if profile_photo %}
                            Change Photo:
                            {% else %}
                            Add Photo:
                            {% endif %}
                        </label><div class="controls">
                        <div class="span3">
                        {{photo_form.photo}}
                        </div>
                        <button class="btn" type="submit" style="">Upload</button></div>
                    </div>
                </form>
            </div>
            <form class="form-horizontal" id="profile_form" method="POST" action=".">{% csrf_token %}
                <!--<div class="control-group">-->
                    <!--<label class="control-label" for="user_name">&nbsp;</label>-->

                    <!--<div class="controls">-->
                        <!--&lt;!&ndash;<img src="images/profilepic.jpg"/>&ndash;&gt;-->
                        <!--<div style="margin-bottom: 10px;">-->
                            <!--{% if profile_photo %}-->
                            <!--<img src="{{profile_photo.url}}" width="150px" height="200px"/>-->
                            <!--{% else %}-->
                            <!--<img src="{{STATIC_URL}}images/default_user_photo.png"/>-->
                            <!--{% endif %}-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="control-group">-->
                    <!--<label class="control-label" for="user_name">Choose Photo</label>-->

                    <!--<div class="controls">-->
                        <!--&lt;!&ndash;<input name="" type="file"/>&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
                <div class="control-group">
                    <label class="control-label" for="user_name">First name</label>

                    <div class="controls">
                        <!--<input type="text" id="user_name">-->
                        {{form.first_name}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="user_name">Last name</label>

                    <div class="controls">
                        <!--<input type="text" id="user_name">-->
                        {{form.last_name}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="user_name">Brief Description</label>

                    <div class="controls">
                        <!--<textarea name="" cols="" rows=""></textarea>-->
                        {{form.about_me}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Gender</label>

                    <div class="controls">
                        {{form.gender}}
                        <!--<label class="radio">-->
                            <!--<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"-->
                                   <!--checked>-->
                            <!--Male-->
                        <!--</label>-->
                        <!--<label class="radio">-->
                            <!--<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">-->
                            <!--Female-->
                        <!--</label>-->
                        <!--<label class="radio">-->
                            <!--<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">-->
                            <!--Others-->
                        <!--</label>-->
                    </div>
                </div>

                <!--<div class="control-group">-->
                    <!--<label class="control-label">Degree Persuing</label>-->

                    <!--<div class="controls">-->
                        <!--{{form.degree_pursuing}}-->
                        <!--&lt;!&ndash;<select>&ndash;&gt;-->
                            <!--&lt;!&ndash;<option>Degree</option>&ndash;&gt;-->
                            <!--&lt;!&ndash;<option>2</option>&ndash;&gt;-->
                            <!--&lt;!&ndash;<option>3</option>&ndash;&gt;-->
                            <!--&lt;!&ndash;<option>4</option>&ndash;&gt;-->
                            <!--&lt;!&ndash;<option>5</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;</select>&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
                <div class="control-group">
                    <label class="control-label">Year of Class</label>

                    <div class="controls">
                        {{form.year_of_class}}
                        <!--<select>-->
                            <!--<option>Year</option>-->
                            <!--<option>2</option>-->
                            <!--<option>3</option>-->
                            <!--<option>4</option>-->
                            <!--<option>5</option>-->
                        <!--</select>-->
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">University</label>

                    <div class="controls">
                        <!--<select>-->

                        <!--</select>-->
                        {{form.university}}
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="submit" class="btn btn-inverse">Cancel</button>
                    </div>
                </div>

        </div>
        <div class="tab-pane" id="lB">
            <div class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="cell_phone">Cell Phone#</label>

                    <div class="controls">
                        <!--<input type="text" id="cell_phone">-->
                        {{form.phone_number}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="address">Address</label>

                    <div class="controls">
                        <!--<textarea rows="3" id="address"></textarea>-->
                        {{form.address}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="zip">Zip</label>

                    <div class="controls">
                        <!--<input type="text" id="zip">-->
                        {{form.zip_code}}
                    </div>
                </div>
                <!--<div class="control-group">-->
                    <!--<label class="control-label" for="zip">Paypal URL</label>-->

                    <!--<div class="controls">-->
                        <!--&lt;!&ndash;<input type="text" id="zip">&ndash;&gt;-->
                        <!--{{form.paypal_url}}-->
                    <!--</div>-->
                <!--</div>-->

                <div class="control-group">
                    <label class="control-label" for="zip">Visibility</label>

                    <div class="controls">
                        {{form.visibility}}
                        <!--<label class="checkbox">-->
                            <!--<input type="checkbox" value="">Everyone-->
                        <!--</label>-->
                        <!--<label class="checkbox">-->
                            <!--<input type="checkbox" value="">Same city-->
                        <!--</label>-->
                        <!--<label class="checkbox">-->
                            <!--<input type="checkbox" value="">Same School-->
                        <!--</label>-->
                        <!--<label class="checkbox">-->
                            <!--<input type="checkbox" value="">People made a deal with me-->
                        <!--</label>-->
                        <!--<label class="checkbox">-->
                            <!--<input type="checkbox" value="">Nobody-->
                        <!--</label>-->
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="submit" class="btn btn-inverse">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="lC">
            <div class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="currentPassword">Current Password</label>

                    <div class="controls">
                        <!--<input type="password" id="currentPassword">-->
                        {{form.current_password}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="newPassword">New Password</label>

                    <div class="controls">
                        <!--<input type="password" id="newPassword">-->
                        {{form.new_password}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="confirmPassword">Confirm Password</label>

                    <div class="controls">
                        <!--<input type="password" id="confirmPassword">-->
                        {{form.confirm_password}}
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="submit" class="btn btn-inverse">Cancel</button>
                    </div>
                </div>
                </form>
        </div>
    </div>
</div>
</div>
</div>
</div>
{%endblock%}