{% extends "site_base.html" %}

{%block javascripts%}
<!--<script type="text/javascript"-->
<!--src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCzYp71CLSxqdi7d-lc1lVDdbFls3-x7GQ&sensor=false">-->
<!--</script>-->
<style type="text/css">
    .bannerbg {
        float: left;
        width: 100%;
        padding: 15px 0px;
        box-shadow: 0px -9px 29px rgba(0, 0, 0, 0.15);
        background: #0071bc url('static/images/bg.jpg') no-repeat left top;
        background-size: 100%;
        border-top: 1px solid #5E7BC5;
        border-bottom: 2px solid #FFF;
        height: 470px;
    }


</style>
<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCzYp71CLSxqdi7d-lc1lVDdbFls3-x7GQ&sensor=false">
</script>
<script src="{{STATIC_URL}}js/infobox.js" type="text/javascript"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/locator3.js"></script>
<script type="text/javascript">
    jQuery(function () {
        jQuery("#username").validate({
            expression:"if (VAL) return true; else return false;",
            message:"Please Enter Username",
            position:"bottom"
        });
        jQuery("#password1").validate({
            expression:"if (VAL) return true; else return false;",
            message:"Please enter password ",
            position:"bottom"
        });

        jQuery("#email").validate({
            expression:"if (VAL) return true; else return false;",
            message:"Please enter the Email Id",
            position:"bottom"
        });
        jQuery("#email").validate({
            expression:"if (VAL.match(/^[^\\W][a-zA-Z0-9\\_\\-\\.]*\\@[a-zA-Z0-9_]+(\\.[a-zA-Z0-9_]+)*\\.[a-zA-Z]{2,4}$/)) return true; else return false;",
            message:"Please enter valid email address.",
            position:"bottom"
        });
        jQuery("#accept_terms").validate({
            expression:"if (isChecked(SelfID)) return true; else return false;",
            message:"You should accept the therms of Service",
            position:"bottom"
        });
    });

    $(document).ready(function () {
        $('#map_canvas').css('width', 1100).css('height', 500);
        getLocation();
    });

//    function onErrorLocation(error) {
//        alert('Error detecting your location');
//    }
//    function display_current_location(position) {
//
//        display_map(position.coords.latitude, position.coords.longitude);
//    }
//
//    function display_map(latitude, longitude) {
//
//        $('#map_div').css('height', '500');
//        $('#map_div').css('width', '1100');
//
//        var latlng = new google.maps.LatLng(latitude, longitude);
//        var myOptions = {
//            zoom:8,
//            center:latlng,
//            mapTypeId:google.maps.MapTypeId.ROADMAP
//        };
//        var map = new google.maps.Map(document.getElementById("map_div"), myOptions);
//
//        var marker = new google.maps.Marker({
//            position:latlng,
//            map:map,
//            title:"My Location"
//        });
//
//    }
//
//    function loadMap() {
//        var latlng = new google.maps.LatLng(18.5236, 73.8478);
//        var myOptions = {
//            zoom:8,
//            center:latlng,
//            mapTypeId:google.maps.MapTypeId.ROADMAP
//        };
//        var map = new google.maps.Map(document.getElementById("map_div"), myOptions);
//
//        var marker = new google.maps.Marker({
//            position:latlng,
//            map:map,
//            title:"Its Me."
//        });
//
//    }

</script>

<script type="text/javascript">

    function copy_passwords() {
        $('#password2').val($('#password1').val());
    }

</script>
{%endblock%}
{% block content%}
{% load item_template_tags %}
{% for item in items %}

{% if item.itemphoto_set.all.0.thumbnail1%}
<input type="hidden" value={{item.name}} name="item_name" rel={{item.latitude}} rev={{item.longitude}}
       id="{{item.itemphoto_set.all.0.thumbnail1.url}}" item-id="{{item.id}}" item-slug="{{item.slug}}"
       item-price="{{ item.price|two_decimal:1 }}">


{% endif %}
{% endfor %}
<!--<div class="container-fluid">-->
<!--<div style="text-align: center; width: 100%">-->
<!--<h3>Trade your stuff here</h3>-->
<!--</div>-->
<!--<div style="text-align: center; width: 100%">-->
<!--<form class="form-inline" action="{% url registration_register %}" method="POST">{% csrf_token %}-->
<!--<input type="text" class="input-medium register-form" placeholder="Username" name='username' id="username">-->
<!--<input type="text" class="input-medium register-form" placeholder=".edu address" name='email' id="email">-->
<!--<input type="password" class="input-medium register-form" placeholder="password" name="password1" id='password1' onkeyup="copy_passwords();">-->
<!--<input type="hidden" class="input-medium register-form" placeholder="password2" name="password2" id="password2">-->
<!--<button type="submit" class="btn btn-primary">Join</button>-->
<!--<p><label class="checkbox" style="margin-top: 20px;">-->
<!--<span id="accept_terms"><input type="checkbox"> I accept all Bucksell Terms of Service</span>-->
<!--</label></p>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->

<!--<div class="container">-->
<!--<div style="text-align: center; width: 100%">-->
<!--<h3>Like People Around You</h3>-->
<!--</div>-->
<!--<div class="row offset1">-->
<!--<div id="map_div" class="span4">-->

<!--</div>-->
<!--<div class="container span5">-->
<!--<div class="row">-->
<!--<div class="span1 item-block">-->
<!--<img src="{{STATIC_URL}}img/64x64.png">-->
<!--Item Name<br>-->
<!--<span>$99</span>-->
<!--</div>-->
<!--<div class="span1 item-block">-->
<!--<img src="{{STATIC_URL}}img/64x64.png">-->
<!--Item Name<br>-->
<!--<span>$99</span>-->
<!--</div>-->
<!--<div class="span1 item-block">-->
<!--<img src="{{STATIC_URL}}img/64x64.png">-->
<!--Item Name<br>-->
<!--<span>$99</span>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="span1 item-block">-->
<!--<img src="{{STATIC_URL}}img/64x64.png">-->
<!--Item Name<br>-->
<!--<span>$99</span>-->
<!--</div>-->
<!--<div class="span1 item-block">-->
<!--<img src="{{STATIC_URL}}img/64x64.png">-->
<!--Item Name<br>-->
<!--<span>$99</span>-->
<!--</div>-->
<!--<div class="span1 item-block">-->
<!--<img src="{{STATIC_URL}}img/64x64.png">-->
<!--Item Name<br>-->
<!--<span>$99</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="container-fluid home-listing" style="margin-top: 30px;">-->
<!--<div style="text-align: center; width: 100%">-->
<!--<h3>Who we are</h3>-->
<!--</div>-->

<!--</div>-->
<!--<div class="container-fluid home-listing" style="margin-top: 30px;">-->
<!--<div style="text-align: center; width: 100%">-->
<!--<h3>What we do</h3>-->

<!--</div>-->

<!--</div>-->
<!--<div class="container-fluid home-listing" style="margin-top: 30px;">-->
<!--<div style="text-align: center; width: 100%">-->
<!--<h3>Interested ?</h3>-->
<!--<a href='{% url registration_register%}' class="btn btn-primary">Join</a>-->
<!--<button type="submit" class="btn btn-warning btn-large" style="width: 100px;">Join</button>-->
<!--</div>-->

<!--</div>-->
<div class="bannerbg">
    <div class="container">
        <!--<div class="topbanner">-->
        <!--<img src="{{STATIC_URL}}images/banner.jpg"/>-->
        <!--</div>-->

        <div class="">
        	<div class="container-fluid">
        	    <div style="text-align: center; width: 100%">
        	        <h2 id="motto">Make a quick Buck?<br> Sell your stuff!</h2>
        	    </div>
        	    <div style="text-align: center; width: 100%">
        	        <form class="form-inline" action="{% url registration_register %}" method="POST">{% csrf_token %}
        	            <input type="text" class="input-large register-form" placeholder="Username" name='username' id="username">
        	            <input type="text" class="input-large register-form" placeholder=".edu address" name='email' id="email">
        	            <input type="password" class="input-large register-form" placeholder="password" name="password1" id='password1' onkeyup="copy_passwords();">
        	            <input type="hidden" class="input-large register-form" placeholder="password2" name="password2" id="password2">
        	            <button type="submit" class="btn btn-success btn-large" style="margin-top: -7px;">Join</button>
        	            <p><label class="checkbox">
        	                <span id="accept_terms"><input type="checkbox"> I accept all Bucksell Terms of Service</span>
        	            </label></p>
        	        </form>
        	    </div>
        </div>    
        </div>

    </div>
</div>
<div class="map-background">
	<div class="map-container">
    <h1>Where You Are</h1>
		<div class="googlemap">
		    <!--<iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"-->
		    <!--src="http://maps.google.com/maps?t=m&amp;hl=en-US&amp;ie=UTF8&amp;ll=18.536909,73.965454&amp;spn=1.041622,1.645203&amp;z=9&amp;output=embed"></iframe>-->
		    <div id="map_canvas"></div>
		</div>
	</div>
</div>	
<div class="bodycontent">
    <div class="container">
        <!--<div class="rightbanner">-->
        <!--<img src="images/rightbanner.jpg" />-->
        <!--</div>-->
        <!--<div class="mostpopular">-->
        <!--<h2>Most Popular Categories</h2>-->
        <!--<ul>-->
        <!--<li>-->
        <!--<div class="productimage"><img src="{{STATIC_URL}}images/product01.gif" /></div>-->
        <!--<h3>Item Name</h3>-->
        <!--<p>$99</p>-->
        <!--</li>-->
        <!--<li>-->
        <!--<div class="productimage"><img src="{{STATIC_URL}}images/product01.gif" /></div>-->
        <!--<h3>Item Name</h3>-->
        <!--<p>$99</p>-->
        <!--</li>-->
        <!--<li>-->
        <!--<div class="productimage"><img src="{{STATIC_URL}}images/product01.gif" /></div>-->
        <!--<h3>Item Name</h3>-->
        <!--<p>$99</p>-->
        <!--</li>-->
        <!--<li>-->
        <!--<div class="productimage"><img src="{{STATIC_URL}}images/product01.gif" /></div>-->
        <!--<h3>Item Name</h3>-->
        <!--<p>$99</p>-->
        <!--</li>-->
        <!--</ul>-->
        <!--<ul>-->
        <!--<li>-->
        <!--<div class="productimage"><img src="{{STATIC_URL}}images/product01.gif" /></div>-->
        <!--<h3>Item Name</h3>-->
        <!--<p>$99</p>-->
        <!--</li>-->
        <!--<li>-->
        <!--<div class="productimage"><img src="{{STATIC_URL}}images/product01.gif" /></div>-->
        <!--<h3>Item Name</h3>-->
        <!--<p>$99</p>-->
        <!--</li>-->
        <!--<li>-->
        <!--<div class="productimage"><img src="{{STATIC_URL}}images/product01.gif" /></div>-->
        <!--<h3>Item Name</h3>-->
        <!--<p>$99</p>-->
        <!--</li>-->

        <!--<div class="productimage"><img src="{{STATIC_URL}}images/product01.gif" /></div>-->
        <!--<h3>Item Name</h3>-->
        <!--<p>$99</p>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <div class="whatwedo">
        <h1>How It Works</h1>
            <div id="about-description">
            <h2>Buy</h2>
            <p>Are you looking for a textbook, someone to tutor you in
            math, or anything else local? Use BuckSell.com to search for
            local listings from other trusted users.</p>
            <h2 style="margin-top: 20px;">Sell</h2>
            <p>Use BuckSell.com as your place to post local goods and
            services ranging from offering a ride home to another student
            for break to a bed for your senior year downtown house. You
            can list almost anything allowed by law for your peers to find.</p>
            </div>
            <div id="video">
                <iframe width="560" height="315" src="http://www.youtube.com/embed/nrsTCT5KbF4" frameborder="0"
                        allowfullscreen></iframe>
            </div>
            </p>
        </div>
        <!--<div id="social-icons">-->
            <!--<a href="https://twitter.com/YOUR_USER_NAME"><img src="YOUR_IMAGE_URL" width="48" height="48"-->
                                                              <!--alt="Twitter"/></a>-->
            <!--<a href="http://feeds.feedburner.com/YOUR_FEED_URL"><img src="YOUR_IMAGE_URL" width="48" height="48"-->
                                                                     <!--alt="RSS"/></a>-->
            <!--<a href="http://www.linkedin.com    /in/YOUR_DISPLAY_NAME"><img src="YOUR_IMAGE_URL" width="48" height="48"-->
                                                                        <!--alt="LinkedIn"/></a>-->
            <!--<a href="http://www.facebook.com/YOUR_FB_IDENTIFIER"><img src="YOUR_IMAGE_URL" width="48" height="48"-->
                                                                      <!--alt="Facebook"/></a>-->
        <!--</div>-->
        <div class="interested">
            <div class="interstblank">
                <a href="{%url registration_register%}" class="joininterest">Join</a>
            </div>
        </div>
        <!--<div class="topbanner">-->
        <!--<img src="{{STATIC_URL}}images/banner.jpg" />-->
        <!--</div>-->
    </div>
</div>
{% endblock %}
