<footer>

    <div class="footer_link_wrapper">
        <div id="footer_link_id">
            <ul >
                <li><a href="#">HOME PAGE </a></li>
                <li><a href="#">OUR COMPANY </a></li>
                <li><a href="#">OUR SERVICES </a></li>
                <li><a href="#">OUR PROJECTS </a></li>
                <li><a href="#">CONTACT US </a></li>
            </ul>
        </div>


        <div class="footer_text">
            <h4> &copy PJONES 2012 </h4>
        </div>
        <div class="footer_icons">
            <ul>
                <li><a href="#"> <img src="{STATIC_URL%}images/icon1.gif"></a></li>
                <li><a href="#"> <img src="{STATIC_URL%}images/icon2.gif"></a></li>
                <li><a href="#"> <img src="{STATIC_URL%}images/icon3.gif"></a></li>
            </ul>
        </div>
    </div><!--footer_link_wrapper ends here-->



</footer>