
{% extends 'site_base.html'%}
{%block content%}
<link type="text/css" rel="stylesheet" media="all" href="{{MEDIA_URL}}css/password.css?ver={{settings.RESOURCE_VERSION}}" />

<div id="passwd">
<form method="post" action="">{% csrf_token %}
    <table>
{% if validlink %}
<tr>
    Please enter your new password:</tr><br>
<tr>
    <td>

    New Password:</td> <td>{{ form.new_password1 }}</td></tr><br>
<tr><td>Re-Enter New Password: </td><td>{{ form.new_password2 }}</td></tr>
{% else %}
The password reset link was invalid
{% endif %}
</table>
<br>
<input type="submit" value="Reset my password">
</form>
</div>

        {%endblock%}