{% extends "site_base.html" %}
        {%block content%}

    	<!--==============================header=================================-->

        
        <!--==============================content================================-->
        <section id="content"><div class="ic">More Website Templates @ TemplateMonster.com. December10, 2011!</div>
            <div class="main">
                <div class="container_12">
                    <div class="wrapper">
                        <article class="grid_8">
                        	<h3>Welcome! Why Choose Us?</h3>
                            <em class="text-1 margin-bot">Pjones, a Business Process Outsourcing (BPO) company is a services and software solutions provider. However, to call it just a cost cutting center, a virtual office for your organisation is limiting its functionality. It’s your business partner that understands your needs and works towards contributing in your revenue generation.</em>
                            <div class="wrapper p4">
                            	<article class="grid_4 alpha">
                                	<div class="wrapper p1">
                                    	<figure class="img-indent2"><img src="images/page1-img1.png" alt="" /></figure>
                                        <div class="extra-wrap">
                                        	<div class="indent-top">
                                            	<h4>Inbound Support<em>How-to</em></h4>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="prev-indent-bot">PJONES provides integrated customer service solutions.
                                        Outbound Support

                                        Each and every call made from PJONES is recorded for quality purpose..</p>
                                    <a class="link-1" href="#">Know More</a>
                                </article>
                                <article class="grid_4 omega">
                                	<div class="wrapper p1">
                                    	<figure class="img-indent2"><img src="images/page1-img2.png" alt="" /></figure>
                                        <div class="extra-wrap">
                                        	<div class="indent-top">
                                            	<h4>ABCDEF<em>Strategies</em></h4>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="prev-indent-bot">PSD source files of this Consulting Template<br> are available for free for the registered<br> members of TemplateMonster.com.</p>
                                    <a class="link-1" href="#">Know More</a>
                                </article>
                            </div>
                            <div class="wrapper">
                            	<article class="grid_4 alpha">
                                	<div class="wrapper p1">
                                    	<figure class="img-indent2"><img src="images/page1-img3.png" alt="" /></figure>
                                        <div class="extra-wrap">
                                        	<div class="indent-top">
                                            	<h4>Planning<em>Need Help?</em></h4>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="prev-indent-bot">The basic package of this Consulting<br> Template (without PSD source) is available<br> for anyone without registration.</p>
                                    <a class="link-1" href="#">Know More</a>
                                </article>
                                <article class="grid_4 omega">
                                	<div class="wrapper p1">
                                    	<figure class="img-indent2"><img src="images/page1-img4.png" alt="" /></figure>
                                        <div class="extra-wrap">
                                        	<div class="indent-top">
                                            	<h4>COLLECTION SERVICES<em>Exploit your ideas</em></h4>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="prev-indent-bot">If you are in business, slow receivables mean reduced profit. You know that most debtors respond better when contacted early and often in the collection cycle..</p>
                                    <a class="link-1" href="#">Know More</a>
                                </article>
                            </div>
                        </article>
                        <article class="grid_4">
                        	<h3>Testimonials</h3>
                            <div class="wrapper p3">
                            	<figure class="img-indent"><a href="#"><img class="img-border" src="images/page1-img5.jpg" alt="" /></a></figure>
                                <div class="extra-wrap">
                                	<span class="text-2">Director</span>
                                    <h4 class="p2">Patrece Jones</h4>
                                    <p class="prev-indent-bot">pjones is awesome to learn and work , we provide customer satisfaction from our end ...</p>
                                    <a class="link-1" href="director.html">Read More</a>
                                </div>
                            </div>
                            <div class="wrapper p3">
                            	<figure class="img-indent"><a href="#"><img class="img-border" src="images/page1-img6.jpg" alt="" /></a></figure>
                                <div class="extra-wrap">
                                	<span class="text-2">General Manager</span>
                                    <h4 class="p1">Nidal</h4>
                                    <p class="prev-indent-bot">As Managing Director of Pjones ltd, I extend my thanks for visiting the pjones website.We are...</p>
                                    <a class="link-1" href="manager.html">Read More</a>
                                </div>
                            </div>
                            <!--<div class="wrapper">-->
                            	<!--<figure class="img-indent"><a href="#"><img class="img-border" src="images/page1-img7.jpg" alt="" /></a></figure>-->
                                <!--<div class="extra-wrap">-->
                                	<!--<span class="text-2">Junior researcher</span>-->
                                    <!--<h4 class="prev-indent-bot">Michael Anderson</h4>-->
                                    <!--<p class="prev-indent-bot">Ut vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum atque corrupti...</p>-->
                                    <!--<a class="link-1" href="#">Read More</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        </article>
                    </div>
                </div>
            </div>
            <div class="block"></div>
        </section>

	{% endblock %}
	<!--==============================footer=================================-->

