{% extends "site_base.html" %}
{%block content%}
    <section id="content"><div class="ic">PJONES </div>
        <div class="content-bg">
            <div class="main">
                <div class="container_12">
                    <div class="wrapper">
                        <article class="grid_4">
                            <h3>Management Team</h3>
                            <!--<div class="wrapper indent-bot2">-->
                                <!--<figure class="img-indent"><a href="#"><img class="img-border" src="images/page2-img1.jpg" alt="" /></a></figure>-->
                                <!--<div class="extra-wrap">-->
                                    <!--<span class="text-2">Director</span>-->
                                    <!--<h4 class="p1">Patrece Jones</h4>-->
                                    <!--pjones is awesome to learn and work , we provide customer satisfaction from our end ...-->
                                <!--</div>-->
                            <!--</div>-->

                            <div class="wrapper">
                                <figure class="img-indent"><a href="#"><img class="img-border" src="images/page2-img4.jpg" alt="" /></a></figure>
                                <div class="extra-wrap">
                                    <span class="text-2">General Manager</span>
                                    <h4 class="p1">Nidal</h4>
                                    As Managing Director of Pjones ltd, I extend my thanks for visiting the pjones website.We are...
                                </div>
                            </div>
                        </article>
                        <article class="grid_8">
                            <div class="indent-left2">
                                <h3>We’ll give your business chance to grow!</h3>
                            </div>
                            <div class="wrapper indent-bot">
                                <article class="grid_4 alpha">
                                    <div class="indent-left2">
                                        <figure class="p2"><img class="img-border" src="images/page2-img5.jpg" alt="" /></figure>
                                        <h4 class="p1">OUR MOTTO</h4>
                                        Pat Jones Consulting will never "market nor promote" a product or service we would not purchase or subscribe to our self / Customer Satisfaction & Quality Assurance is First & Foremost.
                                    </div>
                                </article>
                                <article class="grid_4 omega">
                                    <div class="indent-left2">
                                        <figure class="p2"><img class="img-border" src="images/page2-img6.jpg" alt="" /></figure>
                                        <h4 class="p1">OVERVIEW</h4>
                                        Our Contracts Vary vastly based upon 30 + YRS experience in Telecommunications..
                                        PAT JONES CONSULTING: Creates Sell'S *Pitch'S-Presentation'S-Program'S- !

                                    </div>
                                </article>
                            </div>
                            <div class="indent-left2">
                                <h3>Experience and Professionals</h3>
                                <p>We Create-Train-Manage ,Telemarketing & collection Dept's.
                                    Our sales teams & collection crews far exceed all quota's & expectation.
                                    Pat Jones Consulting & Financial services network of florida.
                                    Will never sell nor promote a product or service we would not purchase & subscribe to our self.

                                    Customer service & quality assurance is First & Foremost.

                                    @KPJONESSSURANCE-Customer service fund raising credit repair.KPJONES


                                    Pat jones Consulting: Cold calls our own leads solely upon the performance of product services.

                                    Pat Jones Consulting: Set's up establishes telemarketing & collection departments for a variety of clients
                                    scout recruit hire train manage operate boiler rooms.</p>
                            </div>
                            <!--<div class="wrapper">-->
                            <!--<article class="grid_4 alpha">-->
                            <!--<div class="indent-left2">-->
                            <!--<ul class="list-1">-->
                            <!--<li><a href="#">At vero eos et accusamus et iusto</a></li>-->
                            <!--<li><a href="#">Dignissimos ducimus qui blanditiis prae</a></li>-->
                            <!--</ul>-->
                            <!--</div>-->
                            <!--</article>-->
                            <!--<article class="grid_4 omega">-->
                            <!--<div class="indent-left2">-->
                            <!--<ul class="list-1">-->
                            <!--<li><a href="#">At vero eos et accusamus et iusto</a></li>-->
                            <!--<li><a href="#">Dignissimos ducimus qui blanditiis prae</a></li>-->
                            <!--</ul>-->
                            <!--</div>-->
                            <!--</article>-->
                            <!--</div>-->
                        </article>
                    </div>
                </div>
            </div>
            <div class="block"></div>
        </div>
    </section>
{% endblock %}